<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find insect_1_description)/urdf/insect.urdf.xacro " />

  <!-- Show in Rviz   -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find insect_1_description)/rviz/rrbot.rviz"/-->



  <!-- Include gazebo launch file rrbot_world.launch -->
  <include file="$(find insect_1_gazebo)/launch/insect_1_gazebo.launch" />
  <include file="$(find insect_1_gazebo)/launch/display.launch" />
  <!--include file="$(find insect_1_gazebo)/launch/insect_1_rqt.launch"/-->

  <!-- Include ros_control launch file to load joint position controllers -->
  <include file="$(find insect_control)/launch/insect_1_control.launch" />
  <!--include file="$(find insect_control)/launch/insect_1_torque_control.launch" /-->

  <!-- Create node to control joint positions using joint controller -->
  <!--node name="joint_positions_node" pkg="insect_1_gazebo" type="position_controller.py" output="screen" respawn="true" /-->


</launch>
